.navbar {
    background-color: pink;
    color: white;
    padding: 0px;
    margin: 20px;
    text-align: column;
    flex-direction: column;
    height: 200px;
    font-family: cursive;
}

.botonNavBar {
    background: rgb(160, 63, 251);
    background: radial-gradient(circle, rgba(160, 63, 251, 1) 0%, rgba(229, 70, 252, 1) 100%);
    color: white;
    font-family: cursive;
}