<div class="grid-container">
  <app-toolbar class="grid-header"></app-toolbar>
  <app-navbar class="grid-menu"></app-navbar>
  <app-students class="grid-students"></app-students>
  <app-formulario-reactivo class="grid-formulario"></app-formulario-reactivo>
</div>
  <h1 class="titulos">Nuestros alumnos</h1>


  <ol class="lista">
      <li *ngFor="let item of alumnos">
          {{item.nombre}}, {{item.apellido}}
      </li>
  </ol>

<h2 class="titulos">Nuestros cursos estrellas:</h2>
<p [ngClass]="alumno != '' ? 'violeta' : 'negro'">{{contenido1}}</p>
<p class="contenido2">{{contenido2 | uppercase}}</p>


